<h1>残業申請管理画面</h1>
<%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
<%= link_to '打刻', new_overtime_request_path %>
<%= link_to '残業申請', new_overtime_request_path %>
<%= link_to '残業申請一覧', overtime_requests_path %>


<table>
  <tr>
    <th>名前</th>
    <th>残業申請</th>
  </tr>
  <% @deputy_directors.each do |deputy_director| %>
    <tr>
      <td><%= current_user.name %></td>
      <td><%= link_to '残業申請', overtime_requests_path %></td>
    </tr>
  <% end %>
</table>